.logo{
    width: 1000px;
}

body{
    background-color:#fcebb6;
    font-family: 'Barlow', sans-serif;
}
.fixed-menu {
    
    top: 0;
    width: 100%;
    background-color: 412f;
    box-shadow: 0 2px 4px #f07818;  /*  */
    z-index: 1000;
}
.fixed-menu nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.fixed-menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.fixed-menu nav ul li {
    margin: 0 15px;
}
.fixed-menu nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 5px 10px;
}
.fixed-menu nav ul li a:hover {
    color: #f07818 ;
}

main{
    height: 100vh;
}

.container-banner{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.container-texto-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
   
}

.container-texto-banner img {
    max-width: 100%; 
  height: auto;
}

.container-banner h1,p{
    color:#5e412f ;
}

h2{
    text-align: center;
    font-size: 48px;
    margin: 20px 0px;
    color:#f07818 ;
    font-weight: bold;
}

.container-salgado, .container-doce{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-salgado-titulo, .container-doce-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-salgado-titulo h3, .container-doce-titulo h3{
    font-size: 32px;
    color: #5e412f;
    text-align: center;
    margin: 15px 0px 5px;
}

.container-salgado-produtos, .container-doce-produtos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid #f07818 2px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    height: auto;
}

.container-produto img{
    width: 350px;
    height: 270px;
    object-fit: cover;
}

.container-produto p{
    margin: 10px 0;
    text-align: center;
}

.container-produto p:nth-child(4){
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

.container-produto p:nth-child(2){
    font-weight: bold;
    font-size: 20px;
}

.ornaments{
    width: 200px;
}
.container-produto {
    position: relative;
    width: 200px;
}

.container-foto img {
    width: 100%;
}


