

form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.container-form{
    display: flex;
    justify-content: center;
}

.container-radio{
    display: flex;
}

.container-radio div{
    padding: 10px;
}

form label{
    color: #5e412f;
    font-weight: bold;
    margin-bottom: 5px;
}
form input{
    border-radius: 10px;
    border: 3px solid #333B1E;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

form input[type='file']{
    color: #000000;
}

form input::file-selector-button{
    padding: 5px;
    border-radius: 5px;
    border: none;
}


form input:focus{
    border: 3px solid #EBC181;
    outline: none;
}

.botao-cadastrar {
    display: flex;
    justify-content: center;
    background-color: #89bb89;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.botao-cadastrar:hover {
    background-color: #e2541b;
}

